language: ruby

rvm:
  - 2.2.3

bundler_args: --without development --deployment

cache: bundler

services:
  - mongodb

before_script:
  - cp config/secrets.travis.yml config/secrets.yml
  - sleep 10
  - mongo mydb_test --eval 'db.addUser("travis", "test");'

script:
  - bundle exec rspec
